* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  header {
    background-color: rgb(23, 31, 35);
    text-align: center;
  }

  

  header img {
  height: 15rem;
  margin-top: 4rem;
  filter:opacity();
  filter:grayscale(0.5)
  }
  body {
    background-color: rgb(23, 31, 35);
    color:  rgb(152, 121, 74);
  }
  main {
    padding: 0rem;
    height: 100vh;
    background-position: center;
    
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 4rem;
    font-family: serif;
    color: rgb(152, 121, 74);
    text-align: center;
    filter:drop-shadow(0px 0px 10px rgb(53, 106, 112));
    transition: all 0.5s ease-in-out;
  }
  

  h1:hover {
    filter:drop-shadow(0px 0px 10px rgb(213, 216, 160));
  }
  .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .button {
    margin: 0.7rem;
    margin-bottom: 3rem;
    padding: 0.8rem;
    width: 8rem;
    border: 0;
    border-radius: 0.3rem;
    background-color: rgb(152, 121, 74);
    color: rgb(228, 228, 228);
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
  }
  
  input[type='text'] {
    height: 2rem;
    margin: 0.7rem;
    border: 0;
    border-radius: 0.3rem;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 2rem;
  }

  form {
      background-color: rgba(63, 62, 62, 0.837);
      padding: 0.7rem 7rem 7rem 7rem;
      border-radius: 1rem;
      background: url(../img/prestige_border.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      filter:drop-shadow(0px 0px 10px rgb(53, 106, 112));
  }
  input[type='radio'] {
    margin-top: 0.5rem;
    border: 0;
    border-radius: 0.3rem;
    text-align: center;


  }
  #divImg {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  input[type='checkbox'] {
    margin-top: 1rem;
    border: 0;
    border-radius: 0.3rem;
    text-align: center;

  }
  
  #divImg img {
    width: 20vw;
    background-color: rgba(245, 245, 220, 0.659);
    padding: 0.7rem;
    border-radius: 0.3rem;
    min-width: 30rem;
  }

#lista {
  text-align: center;
}


  #lista li{
    color: rgb(152, 121, 74);
    padding: 0.7rem;
    font-family: roboto, "Helvetica Neue",;
    filter:drop-shadow(0px 0px 10px rgb(53, 106, 112));
    transition: all 0.5s ease-in-out;
    list-style: none;
  }

  



label {
    color: rgb(152, 121, 74);
    padding: 0.3rem;
    font-family: roboto, "Helvetica Neue",;
    filter:drop-shadow(0px 0px 10px rgb(151, 205, 211));
    transition: all 0.5s ease-in-out;
}
label:hover{
  filter:drop-shadow(0px 0px 10px rgb(213, 216, 160));
}

#campeao {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
}

#column {
    display: flex;
    flex-direction: column;
 
    
}

p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    font-family: roboto, "Helvetica Neue",;
    filter:drop-shadow(0px 0px 10px rgb(151, 205, 211));
    
}



@media screen and (max-width: 600px) {
  header img {
        width: 80vw;
        height: 20vh;

    }
}

@media screen and (max-width: 600px) {
  h1 {
       font-size: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
 form{
       padding: 0.7rem 6rem 7rem 6rem;    }
}

@media screen and (max-width: 400px) {
  header img {
        width: 70vw;
        height: 20vh;

    }
}

@media screen and (max-width: 600px) {
 form{
       padding: 0.7rem 5rem 7rem 5rem;    }
}
  


